*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img{
height: 40px;
margin: 10px;
}
.card{
    min-height: 150px; 
}
header div img{
    height: 200px;
}
.background-verde{
    background-color: #4c8865;
}
.letras-naranja{
    color: #faaa55;
}

@media (max-width: 580px){
    header img{
        height: 100px;
    }
}
@media (max-width: 1200px){
    .card{
        min-height: 200px
    }
}
@media (max-width: 1000px){
    .card{
        min-height: 250px
    }
}
@media (max-width: 770px){
    .card{
        min-height: 280px
    }
}
@media (max-width: 575px){
    .card{
        min-height: 150px
    }
}
