<!-- navbar2 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/img/sarcanabis.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto mb-2" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto mt-2">
          <li class="nav-item mb-2">
            <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#header-info">Nosotros</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<!-- navbar2 -->
  <!-- inicia carousel -->
  <section>
    <div class="container mx-auto"  id="carousel-info">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img/banner-1.jpeg" class="d-block w-100" alt="banner-1">
            <div class="carousel-caption d-none d-md-block">
              <h5>Incubación de Proyectos</h5>
              <p>Apoyamos a emprendedores de cannabis desde la idea inicial hasta la comercialización.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/banner-2.jpeg" class="d-block w-100" alt="banner-2">
            <div class="carousel-caption d-none d-md-block">
              <h5>Investigación y Desarrollo</h5>
              <p>Colaboramos con instituciones académicas y científicas para impulsar la investigación en cannabis y desarrollar soluciones innovadoras.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../assets/img/banner-3.jpeg" class="d-block w-100" alt="banner-3">
            <div class="carousel-caption d-none d-md-block">
              <h5>Red de Contactos</h5>
              <p>Facilitamos el networking entre emprendedores, inversionistas y profesionales del cannabis.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </section>
<!-- termina carousel-->
<!-- inicia header -->
<section class="container mx-auto my-5" id="header-info">
  <div class="row">
    <header class="d-grid">
      <div class="col-auto">
        <div class="d-flex justify-content-center" id="img-header">
          <a href="index.html">
            <img src="../assets/img/LOGO-VECTOR.png" alt="presentacion">
          </a>
        </div>
      </div>
      <div class="col-auto">
        <h5 class="text-center mt-5 mx-5">
          En Sarcannabis, nuestra misión es catalizar el desarrollo y la expansión de la industria del cannabis en Argentina, promoviendo la investigación, la sostenibilidad y la responsabilidad social. Nuestra visión es liderar la creación de un ecosistema de cannabis inclusivo, diverso y de alta calidad en el país.
        </h5>
      </div>
    </header>
  </div>
</section>
<!-- termina header -->
<!-- cards -->
<div class="container mx-auto" id="cards-info">
  <div class="row">
    <div class="col-sm-6">
      <div class="card background-verde">
        <div class="card-body text-light">
          <i class="fa-solid fa-lightbulb fa-2xl d-flex justify-content-center mb-4 mt-4" style="color: #ffffff;"></i>
          <h5 class="card-title text-center mt-2 text-decoration-underline">Incubación de Proyectos</h5>
          <p class="card-text mx-3 text-center my-3 d-flex align-items-center">Apoyamos a emprendedores y startups de cannabis desde la idea inicial hasta la comercialización. Proporcionamos asesoramiento, recursos y conexiones necesarias para ayudar a que los proyectos tengan éxito.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card background-verde">
        <div class="card-body text-light">
          <i class="fa-solid fa-book fa-2xl d-flex justify-content-center mb-4 mt-4" style="color: #ffffff;"></i>
          <h5 class="card-title text-center mt-2 text-decoration-underline">Formación y Educación</h5>
          <p class="card-text mx-3 text-center my-3">Ofrecemos programas de capacitación y talleres sobre temas relacionados con el cannabis, incluyendo regulaciones, cultivo, extracción y más.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card background-verde">
          <div class="card-body text-light">
            <i class="fa-solid fa-handshake fa-2xl d-flex justify-content-center mb-4 mt-4" style="color: #ffffff;"></i>
            <h5 class="card-title text-center mt-2 text-decoration-underline">Red de Contactos</h5>
            <p class="card-text mx-3 text-center my-3">Facilitamos el networking entre emprendedores, inversionistas y profesionales del cannabis, creando oportunidades de colaboración y crecimiento.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card background-verde">
          <div class="card-body text-light">
            <i class="fa-solid fa-flask fa-2xl d-flex justify-content-center mb-4 mt-4" style="color: #ffffff;"></i>
            <h5 class="card-title text-center mt-2 text-decoration-underline">Investigación</h5>
            <p class="card-text mx-3 text-center my-3">Colaboramos con instituciones académicas y científicas para impulsar la investigación en cannabis y desarrollar soluciones innovadoras.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- termina cards -->

<!-- intento de botones -->
<div class="botones">
  <a href="https://api.whatsapp.com/send/?phone=543854354276" target="_blank">
    <i class="fa-brands fa-whatsapp fa-beat-fade fa-lg" style="color: #ffffff;"></i>
  </a>
</div>
<!-- termina botones -->

<!-- Footer -->
<div class="container mx-auto mt-3" id="contacto">
  <footer class="text-center text-lg-start bg-white text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Contactate con nosotros!</span>
      </div>
      <div>
        <a href="https://www.instagram.com/sarcannabis_sde/" class="mx-2" target="_blank">
          <i class="fa-brands fa-instagram fa-xl" style="color: #5aa57a;"></i>
        </a>
        <a href="https://api.whatsapp.com/send/?phone=543854354276" class="mx-2" target="_blank">
          <i class="fa-brands fa-whatsapp fa-xl" style="color: #5ca57a;"></i>
        </a>
        <a href="mailto:Sarcannabis.empresa@gmail.com" class="mx-2" target="_blank">
          <i class="fa-regular fa-envelope fa-xl" style="color: #5ca57a;"></i>
        </a>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#"><span style="color: #5aa57a;">sarcannabis.com</span></a>
    </div>
  </footer>
  </div>
  <!-- Footer -->

<router-outlet></router-outlet>
