*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav img{ 
height: 40px;
margin: 15px;
}
nav a{
    text-decoration: none;
    color: rgb(29, 29, 29);
    text-shadow: rgb(182, 182, 182) 1px 0 5px;
}
header div img{
    height: 200px;
}
#img-header:hover{
    transform: scale(1.1)
}
.card{
    min-height: 180px; 
}
.background-verde{
    background-color: #4c8865;
}

#cards-info h5{
    text-shadow: black 1px 0 10px;
}
#carousel-info p{
    text-shadow: black 1px 0 10px;
}
.botones {
    padding: 1rem 1rem;
    right: 0;
    position: fixed;
    bottom: 15%;
    background-color: #5ca57a;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#colaboradores-div h2{
    margin: 15px;
    padding-top: 10px;
    text-shadow: black 1px 1px 0px;
    text-decoration: underline;
}

/* MEDIA QUERYS */

@media (max-width: 580px){
    header img{
        height: 100px;
    }
}
@media (max-width: 1200px){
    .card{
        min-height: 210px
    }
}
@media (max-width: 1000px){
    .card{
        min-height: 255px
    }
}
@media (max-width: 770px){
    .card{
        min-height: 300px
    }
}
@media (max-width: 575px){
    .card{
        min-height: 150px
    }
}

